enunciation-,
chapter-,
theorem-,
lemma-,
definition-,
exercise-,
remark-,
corollary-,
proposition-,
example-,
proof-,
h- {
  display: block;
}
p {
  margin: 1rem 0;
}
h- {
  font-weight: bolder;
  line-height: 1.2;
}
h-[aria-level="1"] {
  font-size: 1.66em;
}
h-[aria-level="2"] {
  font-size: 1.44em;
}
h-[aria-level="3"] {
  font-size: 1.33em;
}
table {
  display: block;
  overflow: auto;
}

enunciation-label {
  font-weight: bolder;
}
enunciation-label::after {
  content: ".";
}

e-title-::before {
  content: " (";
}
e-title-::after {
  content: ") ";
}

chapter- {
  counter-reset: section;
  counter-increment: chapter;
}

section {
  counter-increment: section;
}

chapter- > h-::before {
  content: counter(chapter) ". ";
  /* amsbook makes it centered; indents section/subsection */
}

section > h-::before {
  content: counter(chapter) "." counter(section) ". ";
  /* in article, lacks period and adds space (how much?) after*/
  /* in amsbook, indented*/
}

proof- > *:last-child::after {
  content: "qed";
  font-weight: bold;
  float: right;
}

proof-label {
  font-weight: bolder;
}
proof-label::after {
  content: " ";
}

/* print-oriented styles */

@media print {
  h-::before {
    /* content: "Chapter " counter(countChapter, upper-roman); */
  }

  h- {
    string-set: titleBefore content(before), title content(text);
    /* https://printcss.net/articles/the-string-set-property-and-the-string-function */
    margin-bottom: .66em;
    padding-top: 0.5em;
  }
  enunciation-,
chapter-,
theorem-,
lemma-,
definition-,
exercise-,
remark-,
corollary-,
proposition-,
example-,
proof- {
  margin: 1em auto;
  }
  @page {
    size: A4;
    marks: crop cross;
    bleed: 6mm;
    margin: 20mm;

    @top-right {
      content: string(titleBefore);
    }
    @top-left {
      content: "Category, measure, and forcing, Math 522 lecture notes, Fall, 2014";
    }
    @bottom-center {
      content: counter(page);
    }
  }

  html {
    font-size: 8pt;
  }

  p {
    /* what's TeX like here? */
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
  }

  * + p {
    /* does this rule (and indent) match TeX? E.g., lists don't  */
    text-indent: 1rem;
  }

  enunciation-label,
  enunciation-label + p,
  proof-label, 
  proof-label + p {
    /* too hacky? We lose margins but reduce HTML shenanigans */
    display: inline;
  }
}

@media screen {
  :root {
    /* https://coolors.co/533a71-fb8b24-758e4f-e2294f-e6e8e6 */
    /* https://coolors.co/visualizer/011936-465362-82a3a1-9fc490-c0dfa1 */
    --color-englishViolet: #533a71; /* needs white text */
    --color-UTorange: #fb8b24;
    --color-mossGreen: #758e4f;
    --color-amaranth: #e2294f;
    --color-platinum: #e6e8e6;
  }

  chapter- {
    --ch-backgroundColor: transparent;
    --ch-textColor: black;
    padding-inline: 1rem;
    background-color: var(--ch-backgroundColor);
    color: var(--ch-textColor);
  }

  chapter-:nth-child(5n + 1) {
    --ch-backgroundColor: var(--color-englishViolet);
    --ch-textColor: white;
  }
  chapter-:nth-child(5n + 2) {
    --ch-backgroundColor: var(--color-UTorange);
  }
  chapter-:nth-child(5n + 3) {
    --ch-backgroundColor: var(--color-mossGreen);
  }
  chapter-:nth-child(5n + 4) {
    --ch-backgroundColor: var(--color-amaranth);
  }
  chapter-*:nth-child(5n + 5) {
    --ch-backgroundColor: var(--color-platinum);
  }
  chapter- * {
    max-width: 80ch;
    margin-inline: auto;
  }

  chapter- {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 3rem;
  }
  chapter- {
    font-size: 1.33rem;
  }
  section {
    display: contents;
  }
  chapter- * {
    grid-column-start: 2;
  }
  chapter- h- {
    grid-column: 1/3;
    margin-inline-start: 10vw;
  }
  chapter- :is(thm-, defn-, proof-) {
    grid-column-start: 2;
  }

  h- {
    background-color: #000;
    color: white;
    padding: 1rem;
    position: sticky;
    top: 0;
    z-index: 1;
  }
  h-[aria-level="2"] {
    font-size: 5rem;
  }
  h-[aria-level="3"] {
    font-size: 4rem;
  }

  chapter-,
  theorem-,
  lemma-,
  definition-,
  exercise-,
  remark-,
  corollary-,
  proposition-,
  example- {
    border-right: 5px solid white;
  }

  enunciation-label {
    display: block;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    float: left;
    line-height: 1.5;
    padding: 1rem;
    margin: 0 1rem 1rem 0;
    font-size: 3rem;
    background-color: white;
  }
  e-title {
    display: block;
    background-color: white;
    font-weight: bold;
    font-variant: small-caps;
  }

  theorem- {
    border: 2px solid;
    border-image: linear-gradient(
      to bottom,
      orange 10%,
      transparent 10%,
      transparent 90%,
      orange 90%,
      orange 100%
    );
    border-image-slice: 1;
    padding: 0.5rem;
  }
  lemma- {
    padding: 0.5rem;

    background-image: linear-gradient(to right, orange 30px, transparent 30px),
      linear-gradient(to right, lightblue 30px, transparent 30px),
      linear-gradient(to bottom, orange 30px, transparent 30px),
      linear-gradient(to bottom, lightblue 30px, transparent 30px);
    background-size: 100% 2px, 100% 2px, 2px 100%, 2px 100%;
    background-position: -15px 0%, -15px 100%, 0% -15px, 100% -15px;
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  }

  definition- {
    box-shadow: 0px 36px 0px -30px #fff, -36px 0px 0px -30px #fff,
      0px -36px 0px -30px #fff, 36px 0px 0px -30px #fff, 0 0 0 2px #000;
    border-right: none;
  }
}
