statement-,
chapter-,
thm-,
lem-,
defn-,
exerc-,
rem-,
cor-,
prop-,
example-,
proof-,
name-,
p {
  display: block;
  margin: 1em 0;
}
name- {
  font-weight: bolder;
}
name-[aria-level="1"] {
  font-size: 1.66em;
}
name-[aria-level="2"] {
  font-size: 1.44em;
}
name-[aria-level="3"] {
  font-size: 1.33em;
}
table {
  display: block;
  overflow: auto;
}

statement-label {
  font-weight: bolder;
}
statement-label::after {
  content: ".";
}

blame-::before {
  content: " (";
}
blame-::after {
  content: ") ";
}

chapter- {
  counter-reset: section;
  counter-increment: chapter;
}

section {
  counter-increment: section;
}

chapter- > name-::before {
  content: counter(chapter) ". ";
  /* amsbook makes it centered; indents section/subsection */
}

section > name-::before {
  content: counter(chapter) "." counter(section) ". ";
  /* in article, lacks period and adds space (how much?) after*/
  /* in amsbook, indented*/
}

proof- > *:last-child::after {
  content: "qed";
  font-weight: bold;
  float: right;
}

proof-label {
  font-weight: bolder;
}
proof-label::after {
  content: " ";
}

/* print-oriented styles */

@media print {
  @page {
    size: A4;
    marks: crop cross;
    bleed: 6mm;
    margin: 20mm;

    }
    @top-left {
      content: "Category, measure, and forcing, Math 522 lecture notes, Fall, 2014";
    }
    @bottom-center {
      content: counter(page);
    }
  }

  html {
    font-size: 8pt;
  }

  p {
    /* what's TeX like here? */
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
  }

  * + p {
    /* does this rule (and indent) match TeX? E.g., lists don't  */
    text-indent: 1rem;
  }

  statement-label,
  statement-label + p,
  proof-label, 
  proof-label+p {
    /* too hacky? We lose margins but reduce HTML shenanigans */
    display: inline;
  }
}
